{% extends '::base.html.twig' %}
{%block title %}Prognoză pe luna ianuarie evremea.com{% endblock %}
{% block body %}
  <div class="page-header">
        <h1>Prognoza meteo <small>pentru luna ianuarie</small></h1>
    </div>

  
<p>Conform <a href="http://www.meteoromania.ro/" target="_blank">ANM</a> vremea va fi în general caldă și în a doua jumătate a lunii ianuarie. Temperaturile vor fi, în majoritate, pozitive atât ziua, cât și pe noaptea în cea mai mare parte a țării.</p>
<p>După data de 22 ianuarie va crește semnificatic probabilitatea de apariție a precipitațiilor sub formă de ploaie, lapoviță sau ninsoare. </p>

<h2>Prognoza pe regiuni</h2>
<h3>Muntenia</h3>
<p>
Regimul termic diurn va fi permanent cu mult mai ridicat decât cel normal, întrucât în timpul celor două săptămâni, temperaturile maxime mediate pe regiune se vor situa între 5 şi 9 grade. Media minimelor termice va creşte până la aproximativ 2 grade, în intervalul 22-24 ianuarie, iar în nopţile ceva mai reci care vor urma începând din 28 ianuarie, această medie va coborî spre -2 grade.
</p>
<h3>Moldova</h3>

În această regiune, procesul de încălzire a vremii din intervalul 19-23 ianuarie va determina creşterea atât a temperaturilor maxime, de la o medie de 3 grade la 6 grade, cât şi a celor minime, de la valori, în medie, de -2 grade la 1...2 grade. Între 24 ianuarie şi 1 februarie, deşi vremea se va răci, regimul termic va fi ceva mai ridicat decât cel obişnuit în această perioadă. Astfel, media temperaturilor maxime va rămâne apropiată de 2 grade, iar aceea a temperaturilor minime va coborî sub 0 grade pe 25 ianuarie şi va fi în jurul a -2 grade până la sfârşitul celei de-a doua săptămâni.

<h3>Transilvania</h3>

Pe parcursul primelor 5 zile, vremea va fi mai caldă decât în mod obişnuit, cu temperaturi maxime apropiate de o medie de 7 grade. În intervalul 24-27 ianuarie, această medie nu va mai depăşi 4 grade, iar ulterior va fi în jur de 2 grade. Valorile termice nocturne vor fi permanent negative şi local se va consemna gerul în depresiuni, cu precădere între 28 ianuarie şi 1 februarie, când media regională a temperaturilor minime va fi în jur de -5 grade.

<h3>Oltenia</h3>

Exceptând unele zile cu ceaţă în zonele joase, vremea va fi caldă îndeosebi în timpul primei săptămâni, deşi mediile temperaturilor maxime vor scădea treptat, de la 9 grade pe 19 ianuarie la 5 grade pe 24 şi 25 ianuarie. În a doua parte a intervalului de prognoză temperaturile maxime se vor menţine între 4...6 grade, în medie regională. Regimul termic nocturn va urma tot un parcurs descendent, astfel că în nopţile mai calde din intervalul 22-24 ianuarie media temperaturilor minime va fi de circa 2 grade, în cele puţin mai reci care vor urma nu va mai depăşi 0 grade, iar din 28 ianuarie va coborî spre -2 grade.

<h3>Banat</h3>

În intervalul 19-22 ianuarie, mediile de 10...11 grade ale temperaturilor maxime le vor depăşi cu mult pe cele multianuale specificei perioadei. După răcirea estimată a se produce pe parcursul zilei de 23 ianuarie, regimul termic va deveni în umătoarele zile uşor mai ridicat decât cel obişnuit în ultima decadă a lunii ianuarie, cu temperaturi diurne în jurul mediei de 5 grade. La rândul lor, temperaturile minime vor fi mai ridicate în primele 4...5 nopţi, când media lor nu va coborî sub 3 grade. Însă în restul intervalului de prognoză, aceasta se va situa în jurul valorii de -1 grad, ceea ce nu exclude la nivel local şi valori pozitive în zona de deal, chiar şi pe parcursul celei de-a doua săptămâni. În prima săptămână vor fi ploi slabe şi moderate, apoi vor fi precipitaţii în general slabe, mixte.

<h3>Maramureș</h3>

Procesul de încălzire a vremii, caracteristic primei jumătăţi a acestei săptămâni, va determina temperaturi maxime ridicate cu precădere în zilele de 21, 22 şi 23 ianuarie, când în medie se vor întregistra 9 grade. Între 24 ianuarie şi 1 februarie, regimul termic diurn va fi ceva mai modest, cu medii de 2...3 grade, urmând a se menţine, totuşi, uşor mai ridicat decât cel obişnuit în această perioadă. Media temperaturilor minime va avea valori de 1...2 grade până pe 24 ianuarie, iar ulterior va scădea până în jurul a -3...-2 grade. Precipitaţiile în general slabe vor fi numai sub formă de ploaie în primele trei zile, iar între 22 şi 25 ianuarie şi temporar până pe 1 februarie, se vor semnala şi lapoviţe sau ninsori, care vor favoriza pe arii restrânse formarea poleiului.

<h3>Crișana</h3>

Între 19 şi 23 ianuarie, media temperaturilor maxime va fi de 9...10 grade, fiind semnificativ ridicată pentru această perioadă din an. Apoi, începând cu 24 ianuarie şi până la sfârşitul celei de-a doua săptămâni, deşi temperaturile maxime, în medie, nu vor mai depăşi 5 grade, regimul termic diurn va fi uşor mai ridicat decât cel obişnuit în ultima decadă a lunii ianuarie, prezentând mici variaţii, de la o zi la alta. Pe parcursul nopţilor primei săptămâni, media minimelor termice va fi pozitivă, cuprinsă între 2 şi 4 grade. Se preconizează că, în medie, temperaturile minime vor scădea până pe 26 ianuarie spre -2 grade, menţinându-se la această valoare până pe 1 februarie.

<h3>Dobrogea</h3>

Vremea va fi mult mai caldă decât în mod normal în ultima decadă a lunii ianuarie în toate zilele intervalului de prognoză, cu o medie a temperaturilor maxime situată între 6 şi 9 grade. Regimul termic al minimelor nocturne se va menţine la medii pozitive de până la 4...5 grade, exceptând intervalul 29 ianuarie -1 februarie, când se vor produce uşoare oscilaţii în jurul pragului de îngheţ.

<h3>La munte</h3>

Vremea se va răci uşor şi treptat, însă regimul termic va mai depăşi, cu precădere în primele zile, pe cel specific ultimei decade a lunii ianuarie. Valorile temperaturilor maxime vor avea o medie cuprinsă între 2 şi 4 grade până pe 23 ianuarie, iar ulterior această medie se va situa între 0 şi -2 grade. Minimele nocturne vor fi în prima săptămână între -4 şi -2 grade, în medie, apoi urmează să mai scadă, spre o medie de -7 grade. Probabilitatea de precipitaţii, predominant sub formă de ninsoare, va fi mai ridicată între 22 şi 27 ianuarie, iar în zilele de 23 şi 24 ianuarie izolat pot fi cantităţi mai însemnate.

    {% endblock %}