{% extends '::base.html.twig' %}
{%block title %}Scrie prognoza{% endblock %}
{% block body %}
    <a href="{{ path('evremea_admin_homepage') }}">Prognoza</a>
    <form action="" method="POST" class="form-horizontal"> 
        <div class="form-group">
            <label for="day">Date</label>
            <input class="form-control" type="text" name="day" id="day" value="{{ day }}" placeholder="ddmmyyyy" >
            <button type="button" id="viewDate" class="btn btn-default">View</button>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" rows="3" name="content">{{ content }}</textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-default" type="submit" value="Save">
        </div>
       
    </form>
     
{% endblock %}

{% block custom_javascripts %}
<script src="{{ asset('js/custom/forecast_list.js') }}"></script>
{% endblock %}
