<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}evremea.com{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Oferim prognoza meteo pentru Romania, date despre vremea pentru urmatoarele zile{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}prognoza meteo, vremea, litoral romania, litoral bulgaria, ploaie, cald, vant, soare{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/evremea.css?v3') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/sticky-footer-navbar.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}


    <link rel="stylesheet" href="{{ asset('css/cookiealert.css') }}">


    <style>
    .navbar-default .navbar-toggle {
        border-color: #0a9fe6;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-default {
        background-color: #0a9fe6;
        border-color: #0a9fe6;
    }    
    .navbar-default .navbar-brand {
        color: #FFFFFF;
    }    
    .navbar-brand {
        font-size: 22px;
        font-weight: bold;
    }   
    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }    
 

    @media (max-width: 768px) {
        .form-control {
            width: 140px;
        }

        .navbar-form {
            margin-left: 0px; 
            margin-right: 0px; 
            border-top: 0px solid transparent; 
            border-bottom: 0px solid transparent;
            margin-top: 0px;
            margin-bottom: 0px; 
            padding: 10px 15px;
        }      
    }     
    </style>
   
   <script data-ad-client="ca-pub-8987262857032451" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
var _prum = [['id', '54a9b6a8abe53de56b1855a6'],
             ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();
</script>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('evremea_homepage_homepage') }}">evremea</a>

        {% block searchForm %}
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input placeholder="Caută oraș/sat" type="text" class="form-control" id="autocomplete" name="search" />
            </div>
        </form>
        {% endblock %}

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="">
                <a href="{{ path('list_cities') }}">Orașe/Localitati</a>
            </li>
            <li class="">
                <a href="{{ path('romanian_seaside') }}">Litoral Romania</a>
            </li>
            <li class="">
                <a href="{{ path('bulgarian_seaside') }}">Litoral Bulgaria</a>
            </li>
	   <li class="">
                <a href="{{ path('romania_mountain') }}">Vremea la munte</a>
            </li>
            <li class="">
                <a href="http://evremea.com/meteo/avertizari/">Avertizari meteo</a>
            </li>
        </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright&copy; 2020 evremea.com - <a href="{{ path('cookies') }}">Politica de cookie-uri</a> &nbsp;|&nbsp; <a href="https://anpc.ro/">anpc</a> &nbsp;|&nbsp; <a href="http://evremea.com/meteo/avertizari/">Avertizari meteo</a> &nbsp;|&nbsp; <a href="{{ path('on_your_website') }}">Vremea pe site-ul tău</a></p> 
        </div>
    </footer>




<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    Acest site folosește cookie-uri pentru a asigura o bună experiență de navigare, pentru analiza traficului și publicitate. <a href="{{ path('cookies') }}" target="_blank">Vezi detalii</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        De acord
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->



            
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    
    {% block custom_javascripts %}{% endblock %}
    
    {% block autocomplete %}
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <style>
        /* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_ */
        #autocomplete.ui-autocomplete-loading {
            {% image '@EvremeaHomepageBundle/Resources/public/images/loading.gif' %}
            background-image: url({{ asset_url }});
            {% endimage %}    
            background-position: right center;
            background-repeat: no-repeat;
        }
    </style>
    <script>
        $(function() {
            $("#autocomplete").autocomplete({
                delay: 500,
                minLength: 3,
                source: function(request, response) {
                    $.getJSON("{{ path('search_ajax') }}?", {
                        city: request.term,
                        page_limit: 10
                    }, function(data) {
                        // data is an array of objects and must be transformed for autocomplete to use
                        var array = data.error ? [] : $.map(data, function(m) {
                                return {
                                        label: m.name + (m.region ? " (" + m.region + ")" : ""),
                                        url: m.url
                                };
                        });
                        response(array);
                    });
                },
                focus: function(event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                },
                select: function(event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                    // navigate to the selected item's url
                    window.open(ui.item.url, "_self");
                }
            });
        });
    </script>


    <script src="{{ asset('js/cookiealert.js') }}"></script>

   {% endblock %}
   
   {% block analytics %}
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-1807931-8', 'auto');
     ga('send', 'pageview');

   </script>
   {% endblock %}
</body>
</html>
