.map-container {
    height:800px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 350px;
    max-height: 800px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

table, th, td  a {
	font-size: 17px;
    line-height: 1.7em;
    font-weight: bold;
}    