.evremeaContainer{font-family: Arial,Helvetica,sans-serif;border:1px solid #ccc;padding:10px;position:relative;margin-left:0;padding:0}
.evremeaContainerSize { width: 230px; height: 230px;overflow: hidden; }

.evremeaContainerBackground{background:#f9f9f9}
.evremeaHeader{text-align: center;line-height: 0.2;margin-left: 0px;padding: 0px;margin-top:10px}
.evremeaCityName a {color:#333;font-weight:bold;text-decoration:none}
.evremeaCityName {margin-bottom: 15px;}
.evremeaDate {font-size: 12px;color: #000;opacity: .55;}

.leftcolumn { width:80px; float: left; color: #333;}
.leftcolumn p {font-size: 14px;padding-right:5px;}
.rightcolumn { width:147px; float: right;color: #333;}

.evremeaTemp {font-size: 30px;margin-bottom: 5px;}
.evremeaDetails {font-size: 12px;}
.evremeaFooter a {font-size: 12px;color: #000;opacity: .55;text-decoration: none;line-height: 0px;}
