{% extends '::base.html.twig' %}
{%block title %}Alerte meteo - evremea.com{% endblock %}
{% block body %}
<h1>Alerte meteo</h1>

{% for feed_item in rss %}
    {{ feed_item.title }}
    {{ feed_item.description }}
{% endfor %}


{% endblock %}
