{% extends '::base.html.twig' %}
{%block title %}Vremea pe litoralul bulgaresc: Nisipurile de aur, Albena, Sunny Beach{% endblock %}
{%block meta_description %}Oferim prognoza meteo pentru litoralul bulgaresc, date despre vremea pentru urmatoarele zile la Nisipurile de aur, Albena, Sunny Beach, Balcic, Varna{% endblock%}
{%block meta_keywords %}prognonza meteo, vremea, litoral, bulgaria, soare, vant, cald, ploaie, nisipurile de aur, albena, Sunny Beach, Balcic, Varna{% endblock%}
{% block body %}

    {# total items count #}
    <div class="page-header">
        <h1>Prognoza meteo<small> pentru litoralul din Bulgaria</small></h1>
        <p>Oferim informații actualizate despre starea vremii și prognoza meteo pe 7 zile pentru stațiunile litoralului bulgăresc. Afli din timp temperaturile la care trebuie să te aștepți, condițiile de ploaie și vânt pentru vacanță ta în Bulgaria.</p>

    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">


            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- EV square responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8987262857032451"
                 data-ad-slot="5400682799"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script> 


        </div> 
        <div class="col-md-6 column">

            <h4>Cele mai importante statiuni la mare din Bulgaria</h4>

            <table>
            {# table body #}
            {% for cityUrl, cityName in urls %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('city_page', {'citySlug': cityUrl}) }}">{{ cityName }}</a></td>
            </tr>
            {% endfor %}
            </table>

        </div> 
        <div class="map-container col-md-12 column">
            <h3>Harta meteo litoral Bulgaria</h3>
            <p>Harta temperaturilor pentru ziua curenta, dinamica curentilor de aer si prognoza meteo pentru urmatoarea perioada in Bulgaria.</p>
            
            <iframe width="100%" height="100%" src="https://embed.windy.com/embed2.html?lat=42.915&lon=27.765&zoom=8&level=surface&overlay=wind&menu=&message=&marker=&calendar=&pressure=&type=map&location=coordinates&detail=true&detailLat=42.960&detailLon=27.343&metricWind=default&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>
        </div>

    </div>
            

    
    
{% endblock %}