{% extends '::base.html.twig' %}
{%block title %}Vremea pe site-ul tău - Afișează widget-ul evremea.com{% endblock %}
{% block body %}
<h2>Politica de confidențialitate</h2>
Adresa sitului web este: http://www.evremea.com.
<br />
<br />
Siteul evremea.com este administrat de firma MEDIAND SOFT SRL
<br />
Cod unic inregistrare: RO25746392
<br />
Nr. Registrul Comertului: J03/811/06.07.2009
<br />
<br />
evremea.com foloseste serviciile oferite Google pentru analiza de trafic (Google Analytics) si publicitate (Google AdSense).
<br />
<br />
Când interacționați cu un site sau cu o aplicație care folosește serviciile Google, vi se poate solicita să alegeți dacă doriți să vedeți anunțuri personalizate de la furnizorii de anunțuri, între care și Google. Indiferent ce alegeți, Google nu va personaliza anunțurile pe care le vedeți dacă setarea de personalizare a anunțurilor este dezactivată sau dacă aveți un cont neeligibil pentru anunțurile personalizate.
<br />
<br />
Puteți să vedeți și să controlați informațiile pe care le folosim pentru a vă afișa anunțuri accesând <a href="https://adssettings.google.com/?hl=ro" target="_blank">setările pentru anunțuri</a>.
<br />
<br />
Mai multe detalii legate despre <a href="https://policies.google.com/technologies/partner-sites?hl=ro" target="_blank">cum folosește Google datele când utilizați site-urile sau aplicațiile partenerilor Google</a>.
<h2>Utilizare cookie-uri</h2>
Informatiile prezentate in continuare au scopul de a aduce la cunostinta utilizatorului mai multe detalii despre plasarea, utilizarea si administrarea "cookie"-urilor utilizate de site-ul evremea.com.<br />
Va rugam sa cititi cu atentie informatiile care urmeaza:<br />
Acest website foloseste cookie-uri pentru a furniza vizitatorilor o experienta mult mai buna de navigare si servicii adaptate nevoilor si interesului fiecaruia.<br />
"Cookie"-urile au rolul de a facilita accesul si livrarea serviciilor folosite de utilizator de internet, precum personalizarea anumitor setari (limba, tara, preturi afisante in moneda nationala.<br />
"Cookie"-urile, pe baza informatiilor pe care le aduna despre utilizatori, ii ajuta pe detinatorii de site-uri sa isi eficientizeze produsul astfel incat acesta sa fie cat mai usor accesat de catre utilizatori, de asemenea cresc gradul de eficienta a publicitatii online si nu in ultimul rand pot permite aplicatiilor multimedia sau de alt tip de pe alte site-uri sa fie incluse intr-un anumit sote pentru a face navigarea mai utila.<br />
<h3>Ce este un "cookie"?</h3>
Cookie ("browser cookie" sau "HTTP cookie") este un fisier de mici dimensiuni, format din litere si numere, care este stocat pe orice terminal cu acces la internet (computer, telefon mobil, tableta etc.) si este instalat prin solicitara emisa de catre un web-server unui browser (ex: Internet Explorer, Chrome).<br />
De retinut: "Cookie"-urile nu contin programe software, virusi sau spyware si nu poate accesa informatiile de pe hard drive-ul utilizatorului. Cookie-urile nu solicita informatii cu caracter personal si nu identifica personal utilizatorii de internet.<br />
Un cookie este format din nume si continut, durata de existenta a acestuia fiind determinata, putand fi accesat din nou de webserver in momentul in care un utilizator se intoarce pe website-ul asociat webserverului respectiv.<br />
<h3>Cookie-urile se clasifica in:</h3>
- Cookieuri de sesiune - acestea sunt stocate temporar in istoricul browser-ului care le memoreaza pana la momentul in care utilizatorul iese de pe website-ul respectiv sau inchide fereastra browserului.<br />
- Cookieuri Persistente - Acestea sunt stocate, in functie de durata prestabilita, pe hard-drive-ul unui computer sau echipament. Cookie-urile persistente le includ si pe cele plasate de un alt website decat cel pe care il viziteaza utilizatorul la momentul respectiv - cunoscute sub numele de "third party cookies" - care pot fi folosite in mod anonim pentru a memora interesele unui utilizator, astfel incat sa fie livrata publicitate cat mai relevanta pentru utilizatori.<br />
<h3>Care sunt avantajele cookie-urilor?</h3>
Un cookie contine informatii care fac legatura intre utilizatori si un anume website. Daca un browser acceseaza acel web-server din nou, acesta poate citi informatia deja stocata si reactiona in consecinta. Cookie-urile asigura userilor o experienta placuta de navigare si sustin eforturile multor websiteuri pentru a oferi servicii confortabile utilizatorillor: ex - preferintele in materie de confidentialitate online, optiunile privind limba site-ului, cosuri de cumparaturi sau publicitate relevanta.<br />
Care este durata de viata a unui cookie?<br />
Durata se viata a unui cookie poate fi diferita, in functie de scopul pentru care este plasat. Exista cookie-uri folosite exclusiv pentru o singura sesiune - acestea nu mai sunt retinute dupa ce utilizatorul iese de pe website. Cookie-uri permanente - sunt retinute si refolosite de fiecare data cand utilizatorul revine pe acel website, insa pot fi sterse oricand de utilizator.<br />
<h3>Ce sunt cookie-urile plasate de terti?</h3>
Anumite parti de continut de pe anumite site-uri pot fi plasate pe website-ul accesat, de catre terte parti prin intermediul bannerelor, boxurilor sau linkurilor - iar toate aceste instrumente pot contine cookie-uri. Ele se numesc "third party cookies" pentru ca nu sunt plasate de proprietarul website-ului respectiv, iar furnizorii terti se supun legilor in vigoare si politicilor de confidentialitate ale detinatorului site-ului.
<h3>Cum sunt folosite cookie-urile de catre acest site</h3>
O vizita pe acest site poate plasa cookie-uri in scopuri de:
<li>Cookie-uri de performanta a site-ului
<li>Cookie-uri de analiza a vizitatorilor
<li>Cookie-uri pentru geotargetting
<li>Cookie-uri de inregistrare
<li>Cookie-uri pentru publicitate
<li>Cookie-uri ale furnizorilor de publicitate
Aceste cookie-uri pot proveni de la terti.
<br /><i>Cookie-uri de performanta</i>
Acest tip de cookie retine preferintele utilizatorului pe acest site, asa incat nu mai este nevoie de setarea lor la fiecare vizitare a site-ului. Spre exemplu: setarile volumului pentru video player, viteza de video streaming cu care este compatibil browserul.
<br /><i>Cookie-uri pentru analiza vizitatorilor</i>
<br />De fiecare data cand un utilizator viziteaza acest site softul de analytics furnizat de o terta parte genereaza un cookie de analiza a utilizatorului. Acest cookie ne spune daca ati mai vizitat acest site pana acum. Browserul ne va spune daca aveti acest cookie, iar daca nu, vom genera unul. Acesta permite monitorizarea utilizatorilor unici care ne viziteaza si cat de des o fac. Atat timp cat nu sunteti inregistrat pe acest site, acest cookie nu poate fi folosit pentru a identifica persoanele fizice, ele sunt folosite doar in scop statistic. Daca sunteti inregistrat putem sti, de asemenea, detaliile pe care ni le-ati furnizat, cum ar fi adresa de e-mail si username-ul - acestea fiind supuse confidentialitatii si prevederilor din Termeni si Conditii, Politica de confidentialitate precum si prevederilor legislatiei in vigoare cu privire la protejarea datelor cu caracter personal.
<br /><i>Cookie-uri pentru geotargetting</i>
<br />Aceste cookie-uri sunt utilizate de catre un soft care stabileste din ce tara proveniti. Este complet anonim si este folosit doar pentru a targeta continutul - chiar si atunci cand sunteti pe pagina noastra in limba romana sau in alta limba primiti aceeasi reclama.
<br /><i>Cookie-uri pentru inregistrare</i>
<br />Atunci cand va inregistrati pe acest site, generam un cookie care ne anunta daca sunteti inregistrat sau nu. Serverele noastre folosesc aceste cookie-uri pentru a ne arata contul cu care sunteti ingregistrat si daca aveti permisiunea pentru un serviciu anume. De asemenea, ne permite sa asociem orice comentariu pe care il postati pe site-ul nostru cu username-ul dvs. Daca nu ati selectat "pastreaza-ma inregistrat", acest cookie se va sterge automat cand veti inchide browserul sau calculatorul.
<br /><i>Cookie-uri pentru publicitate</i>
<br />Aceste cookie-uri ne permit sa aflam daca ati vizualizat sau nu o reclama online, care este tipul acesteia si ce durata de timp a trecut de cand ati vazut mesajul publicitar. Aceste cookie-uri se folosesc si pentru a targeta publicitatea online. Putem folosi, de asemenea, cookie-uri apartinand unei terte parti, pentu o mai buna targetare a publicitatii, pentru a arata de exemplu reclame despre vacante, daca utilizatorul a vizitat recent un articol pe site despre vacante. Aceste cookie-uri sunt anonime, ele stocheaza informatii despre contentul vizualizat, nu despre utilizatori. De asemenea, setam cookie-uri anonime si prin alte site-uri pe care avem publicitate. Primindu-le, astfel, noi le putem folosi pentru a va recunoaste ca vizitator al acelui site daca ulterior veti vizita site-ul nostru, va vom putea livra publicitatea bazata pe aceasta informatie.
<br /><i>Cookie-uri ale furnizorilor de publicitate</i>
O mare parte din publicitatea pe care o gasiti pe acest site apartine tertelor parti. Unele dintre aceste parti folosesc propriile cookie-uri anonime pentru a analiza cat de multe persoane au fost expuse unui mesaj publicitar, sau pentru a vedea cate persoane au fost expuse de mai multe ori la aceeasi reclama. Companiile care genereaza aceste cookie-uri au propriile politici de confidentialitate, iar acest site nu are acces pentru a citi sau scrie aceste cookie-uri. Cookie-urile celor terte parti pot fi folosite pentru a va arata publicitatea targeta si pe alte site-uri, bazandu-se pe navigarea dvs pe acest site.
<br /><strong>Alte cookie-uri ale tertelor parti</strong>
<br />Pe unele pagini, tertii pot seta propriile cookie-uri anonime, in scopul de a urmari succesul unei aplicatii, sau pentru a customiza o aplicatie. Datorita modului de utilizare, acest site nu poate accesa aceste cookie-uri, la fel cum tertele parti nu pot accesa cookie-urile detinute de acest site. De exemplu, cand distribuiti un articol folosind butonul pentru retelele sociale aflat pe acest site, acea retea sociala va inregistra activitatea dvs.
<br /><strong>Ce tip de informatii sunt stocate si accesate prin intermediul cookie-urilor?</strong>
Cookie-urile pastreaza informatii intr-un fisier text de mici dimensiuni care permit unui website sa recunoasca un browser. Webserverul va recunoaste browserul pana cand cookie-ul expira sau este sters. Cookie-ul stocheaza informatii importante care imbunatatesc experienta de navigare pe Internet (ex: setarile limbii in care se doreste accesarea unui site; pastrarea unui user logat in contul de webmail; securitatea online banking; pastrarea produselor in cosul de cumparaturi)
<br /><strong>De ce sunt cookie-urile importante pentru Internet?</strong>
<br />Cookie-urile reprezinta punctul central al functionarii eficiente a Internetului, ajutand la generarea unei experiente de navigare prietenoase si adaptata preferintelor si intereselor fiecarui utilizator. Refuzarea sau dezactivarea cookieurilor poate face unele site-uri imposibil de folosit.
<br />Refuzarea sau dezactivarea cookie-urilor nu inseamna ca nu veti mai primi publicitate online - ci doar ca aceasta nu va mai putea tine cont de preferintele si interesele dvs, evidentiate prin comportamentul de navigare.
<br />Exemple de intrebuintari importante ale cookie-urilor ( care nu necesita autentificarea unui utilizator prin intermediul unui cont):
<li>Continut si servicii adaptate preferintelor utilizatorului - categorii de stiri, vreme, sport, harti, servicii publice si guvernamentale, site-uri de entertainment si servicii de travel.
<li>Oferte adaptate pe interesele utilizatorilor - retinerea parolelor, preferintele de limba ( Ex: afisarea rezultatelor cautarilor in limba Romana).
<li>Retinerea filtrelor de protectie a copiilor privind continutul pe Internet (optiuni family mode, functii de safe search)
<li>Limitarea frecventei de difuzare a reclamelor - limitarea numarului de afisari a unei reclame pentru un anumit utilizator pe un site.
<li>Furnizarea de publicitate mai relevanta pentru utilizator.
<li>Masurarea, optimizare si caracteristicile de analytics - cum ar fi confirmarea unui anumit nivel de trafic pe un website, ce tip de continut este vizualizat si modul cum un utilizator ajunge pe un website (ex prin motoare de cautare, direct, din alte website-uri etc). Website-urile deruleaza aceste analize a utilizarii lor pentru a imbunatati site-urile in beneficiul userilor.
<br /><strong>Securitate si probleme legate de confidentialitate</strong>
<br />Cookieurile NU sunt virusi! Ele folosesc formate tip plain text. Nu sunt alcatuite din bucati de cod asa ca nu pot fi executate nici nu pot auto-rula. In consecinta, nu se pot duplica sau replica pe alte retele pentru a se rula sau replica din nou. Deoarece nu pot indeplini aceste functii, nu pot fi considerate virusi.
<br />Cookie-urile pot fi totusi folosite pentru scopuri negative. Deoarece stocheaza informatii despre preferintele si istoricul de navigare al utilizatorilor, atat pe un anume site cat si pe mai multe alte siteuri, cookieurile pot fi folosite ca o forma de Spyware. Multe produse anti-spyware sunt constiente de acest fapt si in mod constant marcheaza cookie-urile pentru a fi sterse in cadrul procedurilor de stergere/scanare anti-virus/anti-spyware.
<br />In general browserele au integrate setari de confidentialitate care furnizeaza diferite nivele de acceptare a cookieurilor, perioada de valabilitate si stergere automata dupa ce utilizatorul a vizitat un anumit site.
<br /><strong>Alte aspecte de securitate legate de cookie-uri</strong>
<br />Deoarece protectia identitatii este foarte valoroasa si reprezinta dreptul fiecarui utilizator de internet, este indicat sa se stie ce eventuale probleme pot crea cookieurile. Pentru ca prin intermediul lor se transmit in mod constant in ambele sensuri informatii intre browser si website, daca un atacator sau persoana neautorizata intervine in parcursul de transmitere a datelor, informatiile continute de cookie pot fi interceptate. Desi foarte rar, acest lucru se poate intampla daca browserul se conecteaza la server folosind o retea necriptata (ex: o retea WiFi nesecurizata).
<br />Alte atacuri bazate pe cookie implica setari gresite ale cookieurilor pe servere. Daca un website nu solicita browserului sa foloseasca doar canale criptate, atacatorii pot folosi aceasta vulnerabilitate pentru a pacali browserele in a trimite informatii prin intermediul canalelor nesecurizate. Atacatorii utilizeaza apoi informatiile in scopuri de a accesa neautorizat anumite site-uri. Este foarte important sa fiti atenti in alegerea metodei celei mai potrivite de protectie a informatiilor personale.
<br /><strong>Sfaturi pentru o navigare sigura si responsabila, bazata pe cookies</strong>
<br />Datorita flexibilitatii lor si a faptului ca majoritatea dintre cele mai vizitate site-uri si cele mai mari folosesc cookieuri, acestea sunt aproape inevitabile. Dezactivarea cookie-urilor nu va permite accesul utilizatorului pe site-urile cele mai raspandite si utilizate printre care Youtube, Gmail, Yahoo si altele. Iata cateva sfaturi care va pot asigura ca nevigati fara griji insa cu ajutorul cookieurilor:
<br />Particularizati-va setarile browserului in ceea ce priveste cookie-urile pentru a reflecta un nivel confortabil pentru voi al securitatii utilizarii cookie-urilor Daca nu va deranjeaza cookie-urile si sunteti singura persoana care utilizaeaza computerul, puteti seta termene lunigi de expirare pentru stocarea istoricului de navigare si al datelor personale de acces. Daca impartiti accesul la calculator, puteti lua in considerare setarea browserului pentru a sterge datele individuale de navigare de fiecare data cand inchideti browserul. Aceasta este o varianta de a accesa site-urile care plaseaza cookieuri si de a sterge orice informatie de vizitare la inchiderea sesiunii navigare. Instalati-va si updatati-va constant aplicatii antispyware.
<br />Multe dintre aplicatiile de detectare si prevenire a spyware-ului includ detectarea atacurilor pe site-uri. Astfel, impiedica browserul de la a accesa website-uri care ar putea sa exploateze vulnerabilitatile browserului sau sa descarce software periculos. Asigurati-va ca aveti browserul mereu updatat. Multe dintre atacurile bazate pe cookies se realizeaza exploatand punctele slabe ale versiunilor vechi ale browserelor.
<br />Cookie-urile sunt pretutindeni si nu pot fi evitate daca doriti sa va bucurati de acces pe cele mai bune si cele mai mari site-uri de pe Internet - locale sau internationale. Cu o intelegere clara a modului lor de operare si a beneficiilor pe care le aduc, puteti lua masurile necesare de securitate astel incat sa puteti naviga cu incredere pe internet.
<br /><strong>Dezactivarea si refuzul cookie-urilor</strong>
<br />Dezactivarea si refuzul de a primi cookie-uri pot face anumite site-uri impracticabile sau dificil de vizitat si folosit. De asemenea, refuzul de a accepta cookie-uri nu inseamna ca nu veti mai primi/vedea publicitate online.
<br />Este posibila setarea din browser pentru ca aceste cookie-uri sa nu mai fie acceptate sau poti seta browserul sa accepte cookie-uri de la un site anume. Dar, de exemplu, daca nu esti inregistat folosind cookie-urile, nu vei putea lasa comentarii.
<br />Toate browserele moderne ofera posibilitatea de a schimba setarile cookie-urilor. Aceste setari se gasesc de regula in "optiuni" sau in meniul de "preferinte" al browserului tau.
<br />Pentru setarile cookie-urilor generate de terti, si pentru mai multe informatii privind confidentialitatea legata de publicitatea online, IAB Romania pune la dispozitie urmatorul site: <a target="_blank" href="http://www.youronlinechoices.com/ro/">http://www.youronlinechoices.com/ro/</a>
<br />Pentru a intelege aceste setari, urmatoarele linkuri pot fi folositoare, altfel puteti folosi optiunea "ajutor" a browserului pentru mai multe detalii.
<br /><a href="https://support.microsoft.com/ro-ro/help/196955/how-to-set-and-customize-cookies-settings-in-internet-explorer-5" target="_blank">Cookie-urile in Internet Explorer</a>
<br /><a href="https://support.mozilla.org/ro/kb/cookie-urile" target="_blank">Cookie-uri in Firefox</a>
<br /><a href="http://support.google.com/chrome/bin/answer.py?hl=ro&answer=95647" target="_blank">Cookie-uri in Chrome</a>
<br /><a href="http://support.apple.com/kb/ph21411?locale=ro_RO" target="_blank">Cookie-uri in Safari</a>
<br />Pentru setarile cookie-urilor generate de terti, puteti consulta si site-ul: <a href="http://www.youronlinechoices.com/ro/" target="_blank">http://www.youronlinechoices.com/ro/</a>
<br /><strong>Linkuri utile</strong>
Daca doriti sa afli mai multe informatii despre cookie-uri si la ce sunt utilizate, recomandam urmatoarele linkuri:
<a href="http://www.microsoft.com/info/cookies.mspx" target="_blank">Microsoft Cookies guide</a> & <a href="http://www.allaboutcookies.org/" target="_blank">All About Cookies</a>
<br />IAB Romania pune la dispozitie urmatorul site pentru a oferi mai multe informatii privind confidentialitatea legata de publicitatea online: <a href="http://www.youronlinechoices.com/ro/" target="_blank">http://www.youronlinechoices.com/ro/</a>
<br /><br />
{% endblock %}
