{% extends '::base.html.twig' %}
{%block title %}Cum va fi Vremea în {{ city }}? Prognoză meteo de la evremea.com{% endblock %}
{%block meta_description %}Prognoza meteo pentru {{ city }}, date despre vremea pentru urmatoarele zile.{% endblock%}
{%block meta_keywords %}prognonza meteo, vremea, soare, vant, cald, ploaie, {{ city }}{% endblock%}

{% block body %}
    
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h2>{{ city }}</h2>
            {% if region != '' %} ({{ region }} {%- if address_details is not empty %}, {{address_details}}{% endif -%}) {% endif %}
            
            <p><strong>Condiții meteo acum:</strong></p>
                    
                    <div style="margin-left:auto; margin-right:auto;height:auto; width:auto;">
                        <div style="float:left;">
                            <p><img src="/images/clouds/{{ icon }}.png?v2" alt="{{ icon|trans }}" title="{{ icon|trans }}" /></p>
                        </div>
                        <div style="float:left; font-size: 42px; padding-left: 20px; padding-top: 15px;">{{ full_data.currently.temperature|round }}&deg;C</div>
                       <div style="clear: both;"></div>
                    </div>
                    
<p>
<svg class="bi bi-droplet-half" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 01-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 005.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0010 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" clip-rule="evenodd"></path>
  <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" clip-rule="evenodd"></path>
  <path d="M14 10a6 6 0 01-12 0s2.5 2.5 6.5.5S14 10 14 10z"></path>
</svg>
 Afară este {{ icon|trans }}, iar șansele de precipitații sunt de <strong>{{ full_data.currently.precipProbability * 100 }}%</strong>.</p>
            

                    
<p>
<svg class="bi bi-brightness-low" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 11a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8z" clip-rule="evenodd"></path>
  <circle cx="8" cy="2.5" r=".5"></circle>
  <circle cx="8" cy="13.5" r=".5"></circle>
  <circle cx="13.5" cy="8" r=".5" transform="rotate(90 13.5 8)"></circle>
  <circle cx="2.5" cy="8" r=".5" transform="rotate(90 2.5 8)"></circle>
  <circle cx="11.889" cy="4.111" r=".5" transform="rotate(45 11.89 4.11)"></circle>
  <circle cx="4.111" cy="11.889" r=".5" transform="rotate(45 4.11 11.89)"></circle>
  <circle cx="11.889" cy="11.889" r=".5" transform="rotate(135 11.89 11.889)"></circle>
  <circle cx="4.111" cy="4.111" r=".5" transform="rotate(135 4.11 4.11)"></circle>
</svg>
 Temperatura este <strong>{{ full_data.currently.temperature|round }}&deg;C</strong>, se simte ca <strong>{{ full_data.currently.apparentTemperature|round }}&deg;C</strong>.</p>

<p>
<svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 01.103.557L8.528 15.467a.5.5 0 01-.917-.007L5.57 10.694.803 8.652a.5.5 0 01-.006-.916l12.728-5.657a.5.5 0 01.556.103zM2.25 8.184l3.897 1.67a.5.5 0 01.262.263l1.67 3.897L12.743 3.52 2.25 8.184z" clip-rule="evenodd"></path>
</svg>
 Viteza vântului este de <strong>{{ full_data.currently.windSpeed|round }} metri pe secundă</strong>, iar umiditatea se simte de <strong>{{ full_data.currently.humidity * 100 }}%</strong>.</p>

<p>
<svg class="bi bi-chevron-bar-contract" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.646 14.854a.5.5 0 00.708 0L8 11.207l3.646 3.647a.5.5 0 00.708-.708l-4-4a.5.5 0 00-.708 0l-4 4a.5.5 0 000 .708zm0-13.708a.5.5 0 01.708 0L8 4.793l3.646-3.647a.5.5 0 01.708.708l-4 4a.5.5 0 01-.708 0l-4-4a.5.5 0 010-.708zM1 8a.5.5 0 01.5-.5h13a.5.5 0 010 1h-13A.5.5 0 011 8z" clip-rule="evenodd"></path>
</svg>
 Presiunea atmosferica este de <strong>{{ full_data.currently.pressure }} milibari</strong> (<strong>{{ (full_data.currently.pressure * 0.75)|number_format(2, '.', ',') }} mm</strong> coloana de mercur).</p>
            {% if forecastText != '' %}<p>{{ forecastText|raw|nl2br }}</p> {% endif %}


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- EV square responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8987262857032451"
     data-ad-slot="5400682799"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>                     

            
            <div class="row clearfix">
                <div class="col-md-12 column">

                    <h2>Prognoza meteo {{ city }}</h2>
                    <p>Starea vremii în {{ city }} pentru următoarele 7 zile</p>
                    
                    {% for data_day in full_data.daily.data %}

                        <div style="float:left; padding: 36px 12px; height: 150px">
                            <img src="/images/clouds/{{ data_day.icon }}.png?v2" alt="{{ data_day.summary }}" style="height: 75px"/>
                        </div>
                        <div style="padding: 10px 0 12px 0">
                        <h4>{{data_day.time | date('l') | trans | capitalize}}, {{ data_day.time | date('d')}} {{ data_day.time | date('F')|trans}}</h4>
                        <p>Temperatura maximă <b>{{ data_day.temperatureMax|round }}&degC</b> și minimă <b>{{ data_day.temperatureMin|round }}&degC</b>.<br />
                        {{ data_day.summary }}<br />
                        Șanse precipitații <strong>{{ data_day.precipProbability * 100 }}%</strong><br />
                        Vânt <strong>{{ data_day.windSpeed|round }} m/s</strong></p>
                        </div>
                    {% endfor %}


                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6 column">
                    {% include 'EvremeaHomepageBundle:Default:facebook.html.twig' %}
                </div>
                <div class="col-md-6 column">{% include 'EvremeaHomepageBundle:Default:twitter.html.twig' %}</div>
            </div>
            
        </div>
        <div class="col-md-3 column">

                    <h2>Cele mai vizitate orașe</h2>
                    <p>Vezi starea vremii, precum și prognoza meteo pentru următoarele 7 zile în cele mai importate orașe din România.</p>
                    <ul style="font-size: 17px; line-height: 1.7em; font-weight: bold;">
                        {% for bigCity, bigCityUrl in biggestCities %}
                            <li><a href="{{ path('city_page', {'citySlug': bigCityUrl}) }}">{{ bigCity }}</a></li>
                        {% endfor %}
                    </ul>
        </div>
        <div class="col-md-3 column">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- EV vertical responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8987262857032451"
     data-ad-slot="7868925855"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </div>
        <div class="col-md-6 column">

                    
                        <div class="map-container col-md-12 column">
                            <h2>Vremea în Europa</h2>
                            <p>Prognoza meteo pentru următoarele 7 zile și istoricul temperaturilor înregistrate în ultimele zile, în cele mai importante orașe din Europa.</p>
                            <iframe id="embedded-map" width="100%" height="100%" src="https://maps.darksky.net/@temperature,46.012,25.895,7.js?embed=true&amp;timeControl=true&amp;fieldControl=false&amp;defaultField=temperature&amp;defaultUnits=_c"></iframe>
                            <p>&nbsp;</p>
                        </div>
                   


            
        </div>

        <div style="clear: both;"></div>


        <div class="map-container col-md-12 column">
            <h3>Harta meteo Romania</h3>
            <p>Harta temperaturilor pentru ziua curenta, dinamica curentilor de aer si prognoza meteo pentru urmatoarea perioada in Romania.</p>
            
            <iframe width="100%" height="100%" src="https://embed.windy.com/embed2.html?lat=45.950&lon=24.934&detailLat=44.435&detailLon=26.103&width=650&height=450&zoom=7&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>

        </div>

        

    </div>
        
    
        
        
    
    
{% endblock %}
