{% extends '::base.html.twig' %}
{%block title %}Vremea pe orașe de la evremea.com{% endblock %}
{% block body %}

    {# total items count #}
    <div class="page-header">
        <h1>Prognoza meteo <small>pentru {{ pagination.getTotalItemCount }} orașe</small></h1>
    </div>

    <table>
        <tr>
            {# sorting of properties based on query components #}        
            <th{% if pagination.isSorted('a.asciiName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Ordonează alfabetic', 'a.asciiName') }}</th>
        </tr>

        {# table body #}
        {% for city in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td><a href="{{ path('city_page', {'citySlug': city.url}) }}">{{ city.name }} {% if city.county.name is defined %}  ({{city.county.name}} {%- if city.addressDetails is not empty %}, {{city.addressDetails}} {%- endif -%}) {% endif -%}</a></td>
        </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}