{% extends '::base.html.twig' %}
{%block title %}Vremea pe site-ul tău - Afișează widget-ul evremea.com{% endblock %}
{% block body %}
    {#    remove the search form #}
    {% block searchForm %}{%endblock%}
    
    <div class="page-header">
        <h1>Vremea <small>pe site-ul tău</small></h1>
    </div>
    
    <div class="alert alert-success" role="alert">Vrei să afișezi vremea pe site-ul tău? Nimic mai simplu. Urmează pașii:</div>
    <div id="step1">
    <p>1. În căsuța de text de mai jos, scrie orașul pentru care vrei să afișezi vremea și dă click pe el după ce apare în listă:</p>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input placeholder="Caută oraș" type="text" class="form-control" id="autocomplete" name="search" />
                </div>
            </form>
        </div>
    </div>
    </div>
    <div id="step2" style="display:none;">
    <p>2. Copiază codul HTML de mai jos și pune-l pe site-ul tău.</p>
    <div class="panel panel-default">
        <div class="panel-body">
            &lt;link href="//{{ app.request.getHttpHost() }}/css/widget.css?version=1" rel="stylesheet" type="text/css" media="screen"&gt;
            &lt;script src="//{{ app.request.getHttpHost() }}/api/index/?city=<span id="citySlug">bucuresti</span>&version=1" type="text/javascript">&lt;/script&gt;
            &lt;div id="weatherContainer">&lt;/div&gt;
            &lt;script type="text/javascript">setTimeout(function() {showWeather('weatherContainer');},1000); &lt;/script&gt;
        </div>
    </div>
    </div>
            
   <div id="step3" style="display:none;">
    <p>3. Va arăta astfel</p>
    <div class="panel panel-default">
        <div class="panel-body" id="widgetPreview"></div>
    </div>
    </div>
    
{% endblock %}

{% block autocomplete %}
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <style>
        /* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_ */
        #autocomplete.ui-autocomplete-loading {
            {% image '@EvremeaHomepageBundle/Resources/public/images/loading.gif' %}
            background-image: url({{ asset_url }});
            {% endimage %}    
            background-position: right center;
            background-repeat: no-repeat;
        }
    </style>
    <script>
        $(function() {
            $("#autocomplete").autocomplete({
                delay: 500,
                minLength: 3,
                source: function(request, response) {
                    $.getJSON("{{ path('search_ajax') }}?", {
                        city: request.term,
                        page_limit: 10
                    }, function(data) {
                        // data is an array of objects and must be transformed for autocomplete to use
                        var array = data.error ? [] : $.map(data, function(m) {
                                return {
                                        label: m.name + (m.region ? " (" + m.region + ")" : ""),
                                        url: m.url,
                                        slug: m.slug
                                };
                        });
                        response(array);
                    });
                },
                focus: function(event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                },
                select: function(event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                    // navigate to the selected item's url
                    $("#citySlug").html(ui.item.slug);
                    $("#autocomplete").val(ui.item.label);
                    $("#step2").show();
                    $("#step3").show();
                    $( "#widgetPreview" ).html('{% image '@EvremeaHomepageBundle/Resources/public/images/loading.gif' %}<img src="{{ asset_url }}" />{% endimage %}');
                    
                    $.get( "/api/widget/?city=" + ui.item.slug, function( data ) {
                        $( "#widgetPreview" ).html(data);
                    });
                }
            });
        });
    </script>
   {% endblock %}