{% extends '::base.html.twig' %}
{%block title %}Vremea la munte in România: Sinaia, Bușteni, Azuga, Valea Prahovei, Maramureș{% endblock %}
{%block meta_description %}Oferim prognoza meteo pentru stațiunile de munte, date despre vremea pentru urmatoarele zile.{% endblock%}
{%block meta_keywords %}prognonza meteo, vremea, munte, valea prahovei, soare, vant, cald, ploaie, ski, zapada, maramures, ranca{% endblock%}
{% block body %}

    {# total items count #}
    <div class="page-header">
        <h1>Prognoza meteo <small> pentru stațiunile de munte din România</small></h1>
    </div>
    <table>
        {# table body #}
        {% for cityUrl, cityName in urls %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td><a href="{{ path('city_page', {'citySlug': cityUrl}) }}">{{ cityName }}</a></td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
