{% extends '::base.html.twig' %}
{%block title %}Vremea pe litoralul romanesc: Mamaia, Costinesti, Vama Veche{% endblock %}
{%block meta_description %}Oferim prognoza meteo pentru litoralul românesc, date despre vremea pentru urmatoarele zile la Mamaia, Constanta, Eforie, Costinesti, Vama Veche{% endblock%}
{%block meta_keywords %}prognonza meteo, vremea, litoral, bulgaria, soare, vant, cald, ploaie, nisipurile de aur, mamaia, costinesti, eforie, saturn, jupiter, vama veche{% endblock%}
{% block body %}

    {# total items count #}
    <div class="page-header">
        <h1>Prognoza meteo<small> pentru litoralul din România</small></h1>
    </div>
    <table>
        {# table body #}
        {% for cityUrl, cityName in urls %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td><a href="{{ path('city_page', {'citySlug': cityUrl}) }}">{{ cityName }}</a></td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}