{% spaceless %}
<link href="//{{ app.request.getHttpHost() }}/css/widget.css?id=2" rel="stylesheet" type="text/css" media="screen">
<div class="evremeaContainer evremeaContainerSize evremeaContainerBackground">
    <div class="evremeaHeader" style="">
        <p class="evremeaCityName"><a target="_blank" href="{{ app.request.getSchemeAndHttpHost() }}/{{slug}}">Vremea în {{city}}</a></p>
        <p class="evremeaDate">{{full_data.currently.time | date('l') | trans | capitalize}}, {{ full_data.currently.time | date('d')}} {{ full_data.currently.time | date('F')|trans}}</p>
    </div>
    <div class="evremeaMain">
        <div class="leftcolumn">
            <img src="//{{ app.request.getHttpHost() }}/images/clouds/{{ icon }}.png" alt="{{ icon|trans }}" title="{{ icon|trans }}" />
            <p><p>Afară este {{ icon|trans }} iar sanșele de precipitații sunt de {{ full_data.currently.precipProbability * 100 }}%.</p></p>
        </div>
        <div class="rightcolumn">
            <div class="evremeaTemp">{{ full_data.currently.temperature|round }}&deg;C</div>
            <div class="evremeaDetails">
                <li>Temp. resimtită: {{ full_data.currently.apparentTemperature|round }}&deg;C</li>
                <li>Vânt: {{ full_data.currently.windSpeed|round }} m/s</li>
                <li>Umiditatea: {{ full_data.currently.humidity * 100 }}%</li>
                <li>Presiunea:{{ (full_data.currently.pressure * 0.75)|number_format(2, '.', ',') }}mmHg</li>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div> 
    <div class="evremeaFooter"><a href="{{ app.request.getSchemeAndHttpHost() }}">evremea.com</a></div>
</div>
{% endspaceless %}
